body {
    background-size: cover;
    background-image :linear-gradient (moccasin, red, blue, green) ;
}
.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#start, #status, #number_of_objects {
    font-size: 18px;
}